<%- include('../layouts/header',{title: 'Computers List'}); -%>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="alert alert-success text-center"> Create a new computer</h1>
            </div>
        </div>
            <div class="row">
            <div class="col-12">
                <form action="/computers" method="post" class="row">
                    <div class="col-6">
                        <label for="marca" class="form-label">Marca</label>
                        <input type="text" name="Marca" id="marca" class="form-control" required>
                    </div>
                    <div class="col-6">
                        <label for="modelo" class="form-label">Modelo</label>
                        <input type="text" name="Model" id="modelo" class="form-control" required>
                    </div>
                    <div class="col-6">
                        <label for="ram" class="form-label">Memoria RAM (GB)</label>
                        <input type="number" name="ram" id="ram" class="form-control" required>
                    </div>
                    <div class="col-6">
                        <label for="almacenamiento" class="form-label">Almacenamiento (GB)</label>
                        <input type="text" name="almacenamiento" id="almacenamiento" class="form-control" required>
                    </div>
                    <div class="col-6">
                        <label for="precio" class="form-label">Precio (USD)</label>
                        <input type="number" name="precio" id="precio" class="form-control" required>
                    </div>
                    <div class="col-6">
                        <label for="a単o" class="form-label">A単o</label>
                        <input type="number" name="a単o" id="a単o" class="form-control" required>
                    </div>
                    <div class="col-6">
                        <label for="sn" class="form-label">Sn</label>
                        <input type="text" name="sn" id="sn" class="form-control" required>
                    </div>
                    <div class="col-6">
                        <label for="cpu" class="form-label">Cpu</label>
                        <input type="text" name="cpu" id="cpu" class="form-control" required>
                    </div>

                    <div class="col-12 d-grid mt-4">
                        <button type="submit" class="btn btn-outline-succes">Crear</button>
                    </div>

        </div>
            <div class="row">
                <div class="col-12 d-grid mt-4">
                    <a href="/computers" class="btn btn-outline-secondary">
                        Regresar a la lista de computadores
                        </a>
         </div>
    </div>

    <%- include('../layouts/footer'); -%>